<!DOCTYPE html>
<html>
    <meta http-equiv="refresh" content="5"> 
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    </head>
    
    <body>
        <h1> Environment is {{env}}</h1>
        <h1>Chrome browser selected : {{chromeOption}}</h1>
        <h1>Edge browser selected {{edgeOption}}</h1>
        <h1>Firefox browser selected {{firefoxOption}}</h1>
        <h1>IE browser selected {{ieOption}}</h1>
        <div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 38%"></div>
</div>
    </body>
</html>