<!DOCTYPE html>
<html lang="en">

<head>
    <title>Automation Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container">
        <h2>Regression Suite</h2>
        <form action="/send" method="POST">
            <div class="form-group">
                <label for="sel1">Select list (select one):</label>
                <select class="form-control" name="sel1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                </select>
            </div>
            <label class="checkbox-inline">
                <input type="checkbox" name = "chrome" value="">Chrome
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name = "firefox" value="">Firefox
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name = "ie" value="">IE
            </label>
            <label class="checkbox-inline">
                <input type="checkbox" name = "edge" value="">Edge
            </label>
            <br></br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>

</body>

</html>